<!-- body of the page -->
<div id="sidebar">
	<!-- holds the online/playable users? -->
	<table id="onlineTable">
		<tr><th>Leaderboard:</th></tr>
	</table>
	<h3 id="username"></h3>
	<h5 id="winRecord">{{user.username}}</h5>

</div>
<div>
	<!-- gamespace -->
</div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
{{!-- <script src="/assets/js/index.js"></script>
<script src="/assets/js/home.js"></script> --}}