<!-- body of the page -->
<div id="onlineContainer">
	<!-- holds the online/playable users? -->
	<table id="onlineTable">
		<tr><th>Currently Online:</th></tr>
	</table>
</div>
<div>
	<!-- win record? -->
</div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
></script>
<script src="/assets/js/home.js"></script>