#logoutBtn,
#userProfile {
	border: none;
	background-color: #0dcaf0;
}

table, th, td {
	border: 1px solid;
	width: 100%;
}

#mainpage {
	padding: 3em;
}

#gameField {
	width: 75%;
	float: right;
}

.reload {
	margin-top: 1em;
}

.sidebar {
	float:left;
	width: 25%;
	height: 100vh;
	/* display: flex; */
	flex-direction: column;
	justify-content: space-between;
}
/*  */

.leaderboard {
	border: 1px solid black;
}

.leaderboard table {
	font-size: 150%;
}



#gameField {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 100%;
}
.score {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#gameField > * {
	margin: 0 auto;
}

#playBtn {
	width:40%;
	height: 30%;
	margin-top: 20%;
	font-size: 10vw;
}

.options > *, .reload  {
	width: 15vw;
	height: 8vh;
	font-size: 2vw;
}

#gameGUI {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#result {
	font: bold;
	font-size: xx-large;
}